<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/img/mercadoliebre.ico" type="image/x-icon">
    <title>Mercado Liebre</title>
</head>

<body class="home">

    <header class="home__header">

        <div class="home__header--top">
            <div class="home__header--logo-searchbar">
                <div class="home__header--box-logo">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="home__header--logo"></a>
                </div>
                <div class="home__header--searchbar">
                    <form action="" class="home__header--form">
                        <input type="text" name="buscador" placeholder="Buscar productos, marcas">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            
            <div class="home__header--subtitle">
                <h3><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
        </div>

        <div class="home__header--navbar-container">
            <nav class="home__header--navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav  class="home__header--navbar">
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
                </ul>
            </nav>
        </div>

        <a href="" class="burger-menu">
            <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </a href="">
            
    </header>

    
    <main class="home__main">

        <div class="home__banner">
            <img src="/img/img-home-banner.jpg" alt="Banner de publicidad" class="publicidad">
        </div>
    
        <section class="home__main__section--products">

            <h2>Basado en tu última visita</h2>

            <div class="home__main__section-last-views">
                <article class="home__main__section__article-product">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$6.770</p>
                            <p class="home__main__section__article--info-product-descuento">40% OFF</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de macbook">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$230.000</p>
                            <p class="home__main__section__article--info-product-descuento">20% OFF</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$70.500</p>
                            <p class="home__main__section__article--info-product-descuento">10% OFF</p>
                        </div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen de samsung smart TV">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$23.200</p>
                            <p class="home__main__section__article--info-product-descuento">5% OFF</p>
                        </div>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>

        </section>

        <section class="home__main__section--products">

            <h2>Ofertas</h2>

            <div class="home__main__section-last-views">
                <article class="home__main__section__article-product">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$6.770</p>
                            <p class="home__main__section__article--info-product-descuento">40% OFF</p>
                        </div>
                        <h4>Cafetera Moulinex</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de macbook">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$230.000</p>
                            <p class="home__main__section__article--info-product-descuento">20% OFF</p>
                        </div>
                        <h4>MacBook Pro 2019</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$70.500</p>
                            <p class="home__main__section__article--info-product-descuento">10% OFF</p>
                        </div>
                        <h4>Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article class="home__main__section__article-product">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen de samsung smart TV">
                    <div class="home__main__section__article--info-product">
                        <div class="home__main__section__article--truck">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="home__main__section__article--precio-descuento">
                            <p class="home__main__section__article--info-product-precio">$23.200</p>
                            <p class="home__main__section__article--info-product-descuento">5% OFF</p>
                        </div>
                        <h4>SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>

        </section>
    </main>

    <footer>
        <a href="#"><i class="fa-solid fa-credit-card" style="color: #1259c3;"></i></a>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p class="home__footer--description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <a href="#"><i class="fa-solid fa-gift" style="color: #1259c3;"></i></a>
        <h4>Envío gratis desde $ 2.500</h4>
        <p class="home__footer--description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <a href="#"><i class="fa-solid fa-user-shield" style="color: #1259c3;"></i></a>
        <h4>Seguridad, de principio a fin</h4>
        <p class="home__footer--description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
    <script src="https://kit.fontawesome.com/806fc8dcd9.js" crossorigin="anonymous"></script>
</body>
</html>