<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/img/mercadoliebre.ico" type="image/x-icon">
    <title>Registro de usuario</title>
</head>
<body>

    <header class="home__header">

        <div class="home__header--top">
            <div class="home__header--logo-searchbar">
                <div class="home__header--box-logo">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="home__header--logo"></a>
                </div>
                <div class="home__header--searchbar">
                    <form action="" class="home__header--form">
                        <input type="text" name="buscador" placeholder="Buscar productos, marcas">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            
            <div class="home__header--subtitle">
                <h3><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
        </div>

        <a onclick="document.querySelector('.home__header--navbar-container').classList.toggle('showMenu')" class="burger-menu">
            <i class="fa-solid fa-bars fa-xl" style="color: #ffffff;"></i>
        </a>

        <div class="home__header--navbar-container">
            <nav class="home__header--navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
            <nav  class="home__header--navbar">
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
                </ul>
            </nav>
        </div>

        
            
    </header>

    <main class="register__main">

        <section class="register__main__section">
            <form action="">
                <h2>Registrarse!</h2>
                <input type="text" name="" id="fullname" class="input-1" placeholder="Nombre y Apellido">
                <input type="text" name="" id="user-name" class="input-1" placeholder="Nombre de usuario">
                <input type="email" name="" id="email" class="input-1" placeholder="E-mail">

                <h3>Fecha de nacimiento</h3>
                <input type="date" name="" id="dateofbirt"class="input-1" >
                <input type="text" name="" id="adress" class="input-1" placeholder="Domicilio">

                <h3>Perfil de usuario</h3>
                <div class="register__main__section-user-profile">
                    <div class="user-profile-radio">
                        <input type="radio" name="user-profile" id="comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div class="user-profile-radio">
                        <input type="radio" name="user-profile" id="vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>

                <h3>Intereses</h3>
                <div class="register__main__section-intereses">
                    <div class="user-interests-checkbox">
                        <input type="checkbox" name="intereses" id="electro">
                        <label for="electro">Electro</label>
                    </div>

                    <div class="user-interests-checkbox">
                        <input type="checkbox" name="intereses" id="moda">
                        <label for="moda">Moda</label>
                    </div>

                    <div class="user-interests-checkbox">
                        <input type="checkbox" name="intereses" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>

                    <div class="user-interests-checkbox">
                        <input type="checkbox" name="intereses" id="jugueteria">
                        <label for="jugueteria">Juguetería</label>
                    </div>

                    <div class="user-interests-checkbox">
                        <input type="checkbox" name="intereses" id="vidaSana">
                        <label for="vidaSana">Vida sana</label>
                    </div>
                </div>
                
                <input type="file" name="profile-picture" id="profile-picture" class="input-1">

                <input type="password" name="password1" id="password1" class="input-1" placeholder="Contraseña">
                <input type="password" name="password2" id="password2" class="input-1" placeholder="Confirmar contraseña">

                <div class="register__main__section-form-buttons">
                    <button type="reset" class="register__main__section-form-button">Limpiar formulario</button>
                    <button type="submit" class="register__main__section-form-button">Registrarse</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <section>
            <div>
                <a href="#"><i class="fa-solid fa-credit-card"></i></a>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="home__footer--description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-gift"></i></a>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="home__footer--description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <a href="#"><i class="fa-solid fa-user-shield"></i></a>
                <h4>Seguridad, de principio a fin</h4>
                <p class="home__footer--description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </section>

        <h4 class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </footer>
    <script src="https://kit.fontawesome.com/806fc8dcd9.js" crossorigin="anonymous"></script>

</body>
</html>