/* HEADER */

.home__header {
    background-color: var(--amarillo);
    padding: 5px;
    text-align: center;
}

.home__header--box-logo{
    width: 200px;
    margin: auto;
}

.home__header--logo {
    width: 100%;
    padding: 20px 0;
}

.home__header--searchbar{
    padding: 0 15px;
}

.home__header--form {
    position: relative;
}

.home__header--form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px 5px;
    border-radius: 4px;
}

.home__header--form button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: var(--grisOscuro);
    margin: 6px;
    padding: 0 0 0 5px;
    border-left: 1px solid var(--grisOscuro);
}

.home__header--form button i {
    font-size: 18px;
}

.home__header--subtitle{
    margin: 10px 0;
}

.home__header nav{
    margin: 20px auto;
    display: none;
}

.burger-menu {
    background-color: var(--celeste);
    padding: 10px;
    margin: 0 auto 15px;
    border-radius: 5px;
    display: inline-block;
}

.home__banner {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}


/* MAIN */
.home__main {
    width: 100%;
    background-color: var(--grisClaro);
    padding-bottom: 50px;
}

.home__main__section--products {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.home__main__section--products h2 {
    color: var(--grisOscuro);
    font-size: 20px;
}

.home__main img {
    width: 100%;
}

.home__main__section__article-product {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.home__main__section__article--info-product {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
    background-color: #fff;
    border-top: 1px solid #ebebeb;
    position: relative;
}

.home__main__section__article--truck i{
    color: var(--verde);
    border-radius: 50%;
    border: 1px solid var(--verde);
    padding: 5px;
    font-size: 16px;
    right: 20px;
    top: -15px;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.home__main__section__article--precio-descuento {
    display: flex;
    flex-direction: row;
}


.home__main__section__article--info-product-precio {
    width: 75%;
    font-size: 17px;
}

.home__main__section__article--info-product-descuento {
    width: 25%;
    color: var(--verde);
    font-size: 15px;
} 

.home__main__section__article--info-product h4 {
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: var(--grisOscuro);
}



/* FOOTER */

footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 50px;
    color: var(--grisOscuro);
}


footer a i{
    font-size: 2em;
    margin-bottom: 10px;
}

footer h4 {
    font-size: 16px;
}

.home__footer--description {
    margin-bottom: 50px;
}

.copyright {
    font-size: 10px;
}


@media (min-width:481px) {

    /* HEADER */

    .home__header--logo-searchbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home__header--box-logo{
        width: 49%;
    }

    .home__header--searchbar {
        width: 49%;
    }
    
    /* MAIN */

    .home__main__section-last-views {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 8px;
    }

    .home__main__section__article-product {
        width: 47%;
    } 

    .home__main__section__article--info-product-precio {
        width: 60%;
    }

    .home__main__section__article--info-product-descuento {
        width: 40%;
    }

    .home__main__section__article--info-product h4 {
        display: block;
        font-size: 16px;
    }
}

@media (min-width: 769px) {

    /* HEADER */

    .home__header--top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home__header--logo-searchbar {
        width: 70%;
    }

    .home__header--box-logo {
        width: 40%;
    }

    .home__header--navbar-container {     
        display: flex;
        justify-content: space-between;
    }

    .home__header--navbar ul{
        display: flex;
    }

    .home__header--navbar ul li {
        padding: 0 10px;
    }


    .home__header nav{
        margin: 15px auto;
        display: block;
    }

    .burger-menu {
        display: none;
    }
    /* MAIN */

    .home__main__section--products h2 {
        font-size: 25px;
    }

    .home__main__section-last-views {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 27px;
    }

    .home__main__section__article-product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 47%;
    } 

    .home__main__section__article--info-product-precio {
        width: 75%;
    }

    .home__main__section__article--info-product-descuento {
        width: 25%;
    }

}

@media (min-width: 1024px) {
    
    /* HEADER */

    .home__header--top {
        justify-content: space-around;
    }

    .home__header--logo-searchbar {
        width: 70%;
        justify-content: space-between;
    }
    
    .home__header--box-logo {
        width: 20%;
    }

    .home__header--searchbar {
        width: 70%;

    }

    /* MAIN */

    .home__main__section__article-product {
        width: 20%;
    } 

}